{% load static %}
<!DOCTYPE html >
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>{% block title %}Ask Dout {% endblock%}</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="{% static 'css/style.css'%}" rel="stylesheet" type="text/css">
</head>	
<body>
{% include "includes/navbar.html" %}
<div class="container my-4">
{% block css %}{% endblock css %}
{% block content %}

{% endblock %}
{%block js%}
{%endblock%}
</div>

<!-- Footer -->
<!-- <footer class="page-footer font-small bg-dark text-white" id="footer">
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
  <a href="{% url 'homepage'%}">AskQuery.com</a>
  </div>
</footer> -->

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
{% block extra_js %}{% endblock extra_js %}
</html>